<mat-sidenav-container #menu
  class="example-container">
  <mat-sidenav mode="over"
    position="end">
    <app-player-options-page (close)="menu.close()" />
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="toolbar">
      <div class="turn-for"><span>{{game.turnFor() | stoneColor}}の ばん</span></div>
      <button mat-icon-button
        [disabled]="game.state()==='waitToRev'"
        (click)="menu.open()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="board-container"
      [style]="{
        '--manual-reverse-hint-delay': opt[game.turnFor()].manualReverseHintDelayForCSS(),
        '--put-hint-delay': opt[game.turnFor()].putHintDelayForCSS(),
       }"
      [attr.data-game-state]="game.state()">
      <div class="board">
        @for (cell of board.cells; track $index; let ri = $index ) {
          <app-cell [cell]="cell"
          [address]="$index | fn: address"></app-cell>
        }
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>


<dialog #cannotPutDialog>
  おける場所がないのでパスします。
  <button type="button"
    (click)="game.pass(); cannotPutDialog.close()">
    パス
  </button>
</dialog>

<dialog #gameEndDialog>
  <p>{{game.stats().black }} 対 {{game.stats().white}}</p>
  <p>

    @let ad = game.stats().advantage;
    @if (ad === '-') {
    ひきわけ
    } @else {
    {{ad | stoneColor}} の勝ち！
    }

  </p>
  <button type="button"
    (click)="game.newGame(); gameEndDialog.close()">
    おわり
  </button>
</dialog>