// Customize the entire app. Change :root to your selector if you want to scope the styles.
@use '@angular/material' as mat;

:host {
  @include mat.sidenav-overrides((container-shape:0px,
      container-width: 100dvw,
    ));
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  display: flex;
  height: 100%;
}

.toolbar {
  padding: 8px;
  display: flex;
}

.board-container {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  background-color: darkgreen;
  width: fit-content;
  align-self: center;

  .row {
    display: flex;
  }
}


@media screen and (orientation: landscape) {
  mat-sidenav-content {
    flex-flow: row-reverse;
    align-items: stretch;
    justify-content: center;
  }

  .toolbar {
    flex-flow: column-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    width: 56px;

    p {
      writing-mode: vertical-rl;
      margin: 0;
    }
  }
}

@media screen and (orientation: portrait) {
  mat-sidenav-content {
    flex-flow: column nowrap;
  }

  .toolbar {
    align-items: center;
    justify-content: space-between;

    p {
      margin: 0;
    }
  }

}