<!-- <h1> オセロ</h1> -->
<div class="toolbar">
  <button mat-icon-button
    [mat-menu-trigger-for]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</div>
<div class="board-container">
  <div class="board">
    @for (row of board.rows; track $index; let ri = $index ) {
    <div class="row">
      @for (cell of row; track $index;let ci = $index){
      <app-cell [cell]="cell"
        [address]="[$any(ri),$any(ci)]"></app-cell>
      }
    </div>
    }
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>ヒントのオン/オフ</button>
  <button mat-menu-item>自分でめくる</button>
</mat-menu>

<dialog #cannotPutDialog>
  おける場所がないのでパスします。
  <button type="button"
    (click)="game.pass(); cannotPutDialog.close()">
    パス
  </button>
</dialog>

<dialog #gameEndDialog>
  <p>{{game.stats().black }} 対 {{game.stats().white}}</p>
  <p> {{game.stats().advantage}} の勝ち！</p>
  <button type="button"
    (click)="game.newGame(); gameEndDialog.close()">
    おわり
  </button>
</dialog>