<mat-action-list>
  <mat-list-item (click)="togglePutHint.toggle()">
    おく ばしょの ヒントを ひょうじする
    <mat-slide-toggle #togglePutHint
      matListItemMeta
      (click)="$event.stopPropagation()"
      [(ngModel)]="options().enablePutHint">
    </mat-slide-toggle>
  </mat-list-item>

  <mat-list-item (click)="SelectPutHintDelay.open()">
    めくる いしの ヒント じかん
    <mat-form-field matListItemMeta
      appearance="outline"
      subscriptSizing="dynamic"
      style="width: 120px;align-self: center;">
      <mat-select #SelectPutHintDelay
        [(value)]="options().putHintDelay"
        [disabled]="!options().enablePutHint()">
        @for (sec of [0, 3, 5, 10, 20]; track $index) {
        <mat-option [value]="sec">{{sec}} 秒</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-list-item>


  <mat-list-item (click)="toggleSelfReverse.toggle()">
    じぶんで めくる
    <mat-slide-toggle #toggleSelfReverse
      matListItemMeta
      (click)="$event.stopPropagation()"
      [(ngModel)]="options().manualReverse">
    </mat-slide-toggle>
  </mat-list-item>

  <mat-list-item (click)="SelectReverseHintDelay.open()">
    めくる いしの ヒント じかん
    <mat-form-field matListItemMeta
      appearance="outline"
      subscriptSizing="dynamic"
      style="width: 120px;align-self: center;">
      <mat-select #SelectReverseHintDelay
        [(value)]="options().manualReverseHintDelay"
        [disabled]="!options().manualReverse()">
        @for (sec of [0, 3, 5, 10, 20]; track $index) {
        <mat-option [value]="sec">{{sec}} 秒</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-list-item>



</mat-action-list>